section {
	// max-width: 1110px;
	margin: 0 auto;
}

.content-box {
	max-width: var(--content-box-width);
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
}

.content-box.section-title.centered {
	position: static;
}

.section-inner {
	max-width: 1110px;
	margin: 0 auto;	
}