.media.image {
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}

.media.full {
	position: relative;
	&.image {

		width: 100%;
		height: 500px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.gradient {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;		
		height: 30%;
		background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	}
}

.wp-caption {
	@include image-caption;
}

div.wp-caption.aligncenter {
	width: 100% !important;
	position: relative;
	@include breakpoint(md){
		width: 120% !important;
		left: -10%;
	}
	img {
		width: 100%;
		height: auto;
	}
	p {
		text-align: center;
	}
}

image.aligncenter {
	width: 100%;
	height: auto;
}

img.alignright, .wp-caption.alignright {
	
	width: 100% !important;
	height: auto;
	margin: 0;
	@include breakpoint(xsm){
		float: right;
		margin: 8px -40px 16px 18px;
		width: 300px !important;
	}
	@include breakpoint(sm){
		width: 420px !important;
		margin: 8px -145px 16px 32px;
	}
	@include breakpoint(md){
		width: 400px !important;
		margin: 8px -200px 16px 32px;
	}

	@include breakpoint(lg){
		width: 540px !important;
		margin: 8px -320px 16px 32px;
	}
	&.black-white {
		@include breakpoint(lg){
			width: 380px !important;
			margin: 8px -200px 16px 32px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	p {
		margin-bottom: 0;
		padding-right: var(--padding);
		@include breakpoint(sm){
			padding-right: 0;
		}
		
	}
}



article[data-rootparent="1477"][data-idx="4"]{
	.media.illustration .image img {
	    object-position: center 84%;
	}
}
article[data-rootparent="1464"][data-idx="3"]{
	.media.illustration .image img {
		object-position: bottom;
	}
}




img.alignleft, .wp-caption.alignleft {
	
	width: 100% !important;
	height: auto;
	margin: 0;
	@include breakpoint(xsm){
		float: left;
		margin: 8px 32px 16px -35px;
		width: 300px !important;
	}
	@include breakpoint(sm){
		margin: 8px 32px 16px -145px;
		width: 420px !important;
	}
	@include breakpoint(md){
		width: 400px !important;
		margin: 8px 32px 16px -200px;
	}
	@include breakpoint(lg){
		width: 540px !important;
		margin: 8px 32px 16px -320px;
	}
	&.black-white {
		@include breakpoint(lg){
			width: 400px !important;
			margin: 8px 32px 16px -200px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	p {
		margin-bottom: 0;
		padding-left: var(--padding);
		@include breakpoint(sm){
			padding-left: 0;
		}
		
	}
}

div.wp-caption.larger {

}

.media.illustration .caption {
	@include image-caption;
	padding: 7px var(--padding);
	max-width: 200px;
	@include breakpoint(md){
		max-width: 300px;
	}
	@include breakpoint(lg){
		max-width: 360px;	
	}
	
}

.media.illustration.contain {
	background: #FFF;
	.image {
		position: relative;
		z-index: 1;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -165px;
		height: 165px;
		background: #FFF;
		right: 0;
		left: 0;
		z-index: 0;
	}
}

.media.illustration.cover {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

	}
}

.media.illustration.cover.bottom {
	img {
		object-position: center bottom;
	}
}

.media.illustration.cover.top {
	img {
		object-position: center top;
	}
}

.media.illustration {
	//margin-bottom: 36px;
	--media-height: 250px;
	@include breakpoint(xsm){
		--media-height: 50vh;
	}
	@include breakpoint(sm){
		--media-height: calc(100vh - calc(var(--header-height) + var(--horizontal-nav-height)));
	}
	z-index: -1;
    position: relative;

    height: calc(var(--media-height) - 165px);
	.image {
		width: 100%;
		height: var(--media-height);
		overflow: hidden;
	}
	+ .content-box {

		//position: relative;
		// z-index: 1;
		// padding-top: 360px;
	}
}


p.media-caption {
	color: var(--light-grey);
	font-style: italic;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
}


.play-icon {
    width: 53px;
    height: 53px;
    background: #FFFF00;
    border-radius: 50%;
    position: absolute;
    bottom: 68px;
    right: 68px;
}



// image placements

article.depth-0 {
	&[data-rootparent="1079"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: contain;
			}
		}
	}
}

article.depth-0 {
	&[data-rootparent="1065"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center bottom;
			}
		}
	}
}
article.depth-0 {
	&[data-rootparent="1117"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center top;
			}
		}
	}
}



.embed {
	position: relative; 
	padding-bottom: 56.25%;
	height: 0; 
	//overflow: hidden;
	width: 100%;
}
.embed iframe {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}











