.media.image {
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}

.media.full {
	position: relative;
	&.image {

		width: 100%;
		height: 500px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.gradient {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;		
		height: 30%;
		background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	}
}

.wp-caption {
	p {
		color: #999;
		font-size: 15px;
		margin-top: 6px;
	}
}

div.wp-caption.aligncenter {
	width: 100% !important;
	img {
		width: 100%;
		height: auto;
	}
}

image.aligncenter {
	width: 100%;
	height: auto;
}

img.alignright, .wp-caption.alignright {
	width: 170px !important;
	height: auto;
	float: right;
	margin: 8px -40px 16px 18px;
	@include breakpoint(xsm){
		margin: 8px -40px 16px 32px;
		width: 300px !important;
	}
	@include breakpoint(sm){
		width: 400px !important;
		margin: 8px -200px 16px 32px;
	}
	img {
		width: 100%;
		height: auto;
	}
}


img.alignleft, .wp-caption.alignleft {
	width: 170px !important;
	height: auto;
	float: left;
	margin: 8px 18px 16px -40px;
	@include breakpoint(xsm){
		margin: 8px 32px 16px -40px;
		width: 300px !important;
	}
	@include breakpoint(sm){
		width: 400px !important;
		margin: 8px 32px 16px -200px;
	}
	img {
		width: 100%;
		height: auto;
	}
}

div.wp-caption.larger {

}

.media.illustration.contain {
	background: #FFF;
	.image {
		position: relative;
		z-index: 1;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -100px;
		height: 100px;
		background: #FFF;
		right: 0;
		left: 0;
		z-index: 0;
	}
}

.media.illustration.cover {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.media.illustration.cover.bottom {
	img {
		object-position: center bottom;
	}
}

.media.illustration.cover.top {
	img {
		object-position: center top;
	}
}

.media.illustration {
	//margin-bottom: 36px;
	--media-height: 250px;
	@include breakpoint(xsm){
		--media-height: 50vh;
	}
	@include breakpoint(sm){
		--media-height: 70vh;
	}
	z-index: -1;
    position: relative;
    height: calc(var(--media-height) - 100px);
	.image {
		width: 100%;
		height: var(--media-height);
		overflow: hidden;

		img {
			
		}
	}
	+ .content-box {

		//position: relative;
		// z-index: 1;
		// padding-top: 360px;
	}
}


p.media-caption {
	color: var(--light-grey);
	font-style: italic;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
}


.play-icon {
    width: 53px;
    height: 53px;
    background: #FFFF00;
    border-radius: 50%;
    position: absolute;
    bottom: 68px;
    right: 68px;
}



// image placements

article.depth-0 {
	&[data-rootparent="1079"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: contain;
			}
		}
	}
}

article.depth-0 {
	&[data-rootparent="1065"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center bottom;
			}
		}
	}
}
article.depth-0 {
	&[data-rootparent="1117"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center top;
			}
		}
	}
}



.embed {
	position: relative; 
	padding-bottom: 56.25%;
	height: 0; 
	//overflow: hidden;
	width: 100%;
}
.embed iframe {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}











