section#report-downloads {
	@include body-text;
	font-size: 16px;
	.reports {
		column-count: 4;
		column-gap: 32px;
	}
	.section-inner {
		
		padding: 0 16px;
		.reports > div {
			margin-bottom: 32px;
			break-inside: avoid;
		}	
		div.download {
			font-size: 15px;
			margin-bottom: 5px;
			i {
				margin-right: 5px;
				font-size: 18px;
			}
		}
		div.title {
			margin-bottom: 16px;
		}		
	}
	
}

#report-list {
	font-family: 'Roboto', sans-serif, Tahoma;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	@include breakpoint(xsm){
		display: block;
	}
	strong {
		font-weight: 500;
	}
	i.fad {
		margin-right: 8px;
		font-size: 17px;
	}
	i.fal {
		font-size: 15px;
		margin-left: 6px;
		color: var(--light-grey);
	}
	.title {
		display: flex;
		align-items: baseline;
		span {
			flex-grow: 1;
		}
	}
	div.label {
		flex: 1 0 100%;
		line-height: 1.4;
		margin-bottom: 8px;
		//color: var(--light-grey);

		font-family: AmnestyTradeGothicW01BdCnNo20, BTitrBd, Helvetica, Arial, san-serif;
		font-size: 22px;
	}
	div.language {
		position: relative;
		flex: 0 1 calc(50% - 8px);
		@include breakpoint(xsm){
			width: 160px;	
		}		
		margin-bottom: 0px;
		//text-align: center;
		padding: 9px 0 8px 0;
		//background-color: var(--dark-grey);
		border-bottom: 1px solid var(--dark-grey);
		cursor: pointer;
		&:hover {
			//background-color: var(--hover-dark-grey);
		}
		> a {
			text-decoration: none;
		}
		&:nth-last-child(1){
			//border-bottom: none;
		}
	}
	.arabic, .uyghur {
		text-align: right;
		i.fad {
			margin-left: 8px;
			margin-right: 0;
		}
	}
	> div:hover {
		//background-color: var(--dark-grey);
		.download-links {
			display: block;
			z-index: 1;
		}
	}
	.download-links {
		display: none;
		z-index: 1;
		//position: absolute;
		//background-color: var(--dark-grey);
		// left: 0;
		// right: 0;
		//top: 44px;
		padding: 4px 0 8px 0;
		div {

			font-size: 14px;
			color: var(--light-grey);
			&:hover {
				color: #FFF;
			}
			padding: 9px 0 4px 22px;
		}

	}
}


section#report-dropdowns {
	@include body-text;
	font-size: 16px;
	i.fad {
		margin-right: 5px;
		font-size: 18px;
	}
	i.fal {
		font-size: 15px;
		margin-left: 6px;
	}
	.report-dropdowns {
		
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		> div {
			flex: 0 1 calc(16.6% - 13.3px);
			position: relative;
			display: block;
			
			margin-bottom: 16px;
			text-align: center;
			padding: 10px 8px;
			background-color: var(--dark-grey);
			cursor: pointer;
			&:hover {
				background-color: var(--hover-dark-grey);
			}
			> a {
				text-decoration: none;
			}
		}
		> div:hover .download-links {
			display: block;
			z-index: 1;
		}
	}

	.download-links {
		display: none;
		z-index: 1;
		position: absolute;
		background-color: var(--dark-grey);
		left: 0;
		right: 0;
		top: 44px;
		div {
			font-size: 14px;
			&:hover {
				background-color: var(--hover-dark-grey);
			}
			padding: 10px;
		}

	}
}