html {
	--h1-font-size: 28px;
	@include breakpoint(sm){
		--h1-font-size: 36px;	
	}
	
}

@mixin body-text {
	font-family: 'Roboto', sans-serif, Tahoma;
	font-size: 16px;
	@include breakpoint(xsm){
		font-size: 17px;	
	}
	
	letter-spacing: 0.01em;
	@include breakpoint(lg){
		letter-spacing: 0;
		font-size: 18px;	
	}
	
	font-weight: normal;
	line-height: 1.5;
	body.chinese & {
		font-size: 17px;
	}
}

@mixin extra-small-caps {
	text-transform: uppercase;
	@include small-bold;
	font-size: 14px;
}

@mixin small-caps {
	text-transform: uppercase;
	@include small-bold;

}

@mixin small-bold {
	font-family: AmnestyTradeGothicW01BdCnNo20, BTitrBd, Helvetica, Arial, san-serif;
	font-size: 14px;
	@include breakpoint(xsm){
		font-size: 15px;
	}
	line-height: 1;
	letter-spacing: 0.02em;
	body.chinese & {
		font-size: 14px;
	}
}

@mixin quote {
	font-family: AmnestyTradeGothicW01BdCnNo20, BTitrBd, Helvetica, Arial, san-serif;
	font-size: 22px;
	color: #000;
	letter-spacing: -0.01em;
	line-height: 1.2;
	@include breakpoint(sm){
		line-height: 1.1;
		font-size: 30px;
	}
}

@mixin sans-ui {
	font-family: 'Helvetica', san-serif, Tahoma;
	strong {
		font-weight: bold;		
	}
}

@mixin image-caption {
	p {
		color: #999;
		font-size: 14px;
		margin-top: 6px;
	}
}

@mixin h3-title {
	font-size: 22px;
	margin-bottom: 24px;
	@include breakpoint(xsm){
		font-size: 24px;	
		margin-bottom: 32px;
	}
	
	font-family: AmnestyTradeGothicW01BdCnNo20, BTitrBd, Helvetica, Arial, san-serif;

}

ul ul {
	margin-top: 16px;
}
main ul {
	list-style: disc;
	padding-left: 20px;
}

main ol {
	list-style: decimal;
	padding-left: 20px;	
}

main ul li {
	margin-bottom: 16px;
}

main ul, main ol {
	@include body-text;
	margin-bottom: 32px;
}

ul li p, ol li p {
	margin-bottom: 0;
}

ul p + p {
	margin-top: 16px;
}

.disabled {
	opacity: 0;
}

p {
	@include body-text;
	margin-bottom: 24px;
	@include breakpoint(xsm){
		margin-bottom: 32px;
	}
}

a.fn-ext-link {
	text-decoration: none;
}

h3 {
	@include h3-title;

}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

sup {
	font-size: 70%;	
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	position: relative;
	top: -0.25em;

}

blockquote {
	//background-color: #222;
	color: #fff;
	margin-top: 32px;

	p {

		@include h3-title;
		letter-spacing: 0;
		line-height: 1.3;	
		padding: 16px 20px 0 16px;
		@include breakpoint(xsm){
			padding: 0 64px;
		}
	}
	strong {
		font-weight: normal;

	}
	p {
		position: relative;
		quotes: "“" "”";
	}
	p::before {
		position: absolute;
	    
    	font-size: 3.2em;
	    left: 0;
	    top: -32px;
	    width: 100%;
		content: open-quote;
		text-align: center;
		@include breakpoint(xsm){
			text-align: left;
			width: auto;
			left: 20px;
			top: -14px;	
		}
	}
	p::after {
		//content: close-quote;
	}

}
cite {
	&::before {
		content: '— ';
	}
	color: var(--light-grey);
	padding: 0 64px;
	display: block;
}

h5 {
	@include extra-small-caps;
	color: var(--light-grey);
	margin-bottom: 8px;
}

h4 {
	@include small-bold;
	font-size: 16px;
	margin-bottom: 8px;
}

h1, h2 {
	background-color: #FFF;
	color: #000;
	font-family: AmnestyTradeGothicW01BdCnNo20, BTitrBd, Helvetica, Arial, san-serif;
	line-height: 1;
	letter-spacing: -0.01em;
	padding: 8px 12px 9px 12px;
	margin-bottom: 16px;
	@include breakpoint(xsm){
		margin-bottom: 32px;
		padding: 10px 16px 12px 16px;
	}
	
	display: inline-block;
}

h2 {	
	font-size: 24px;
	@include breakpoint(xsm){
		font-size: 28px;
	}
}

h1 {	
	text-transform: uppercase;	
	font-size: var(--h1-font-size);	
}



