@import "reset-css";

$breakpoints: (
	'xsm': 767px,
	'sm': 1024px,
	'md': 1280px,
	'lg': 1850px
) !default;

@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}

html {
	box-sizing: border-box;

	font-size: 16px;
	--padding: 16px;
	--dark-yellow: #ffd500;
	--light-grey: #868686;
	--dark-grey: #252525;
	--hover-dark-grey: #393939;
	--header-height: 42px;
	@include breakpoint(xsm){
		--header-height: 48px;
	}
	--horizontal-nav-height: 125px;
	@include breakpoint(xsm){
		--horizontal-nav-height: 155px;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}


@import "fonts";
@import "typography";
@import "footnotes";
@import "header";
@import "footer";
@import "ui";
@import "base";
@import "media";
@import "sections";
@import "report";
@import "report-nav";
@import "chinese-adjustments";
@import "report-downloads";
@import "cases";
@import "take-action";
@import "introduction";

a {
	color: currentColor;
}
section > a[name]{
	display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
section > a[name="report-anchor"]{
	top: -40px;
}
body {
	color: #fff;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	--content-box-width: 730px;
}
body.uyghur {
	direction: rtl;
} 





@keyframes pulse-arrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0);
	}
}


