header {
	height: 48px;
	background-color: #FFF;
	color: #000;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	.logo {
		height: 100%;
		img {
			width: auto;
			height: 100%;
		}
	}
	position: fixed;
	top: 0;
	z-index: 3;
	left: 0;
	right: 0;
	a {

		
	}
}




nav {
	display: flex;	
	a {
		@include small-caps;
		text-decoration: none;
	}
	div:not(.language-nav) a {		
		background-color: #FFF;
		//transition: background-color 200ms linear;
		&:hover {
			color: #FFF;
			background-color: #000;
		}
	}
	a, span {
		display: block;
		height: 100%;
		padding: 16px 24px 15px 24px;
	}
	img {
		width: 16px;
		height: 16px;
		display: block;
	}
	> div {
		border-left: 1px solid #e6e6e6;
		position: relative;
		@include small-bold;
	}
	div.language-nav {
		background-color: #f2f2f2;
		display: flex;
		padding: 0 12px 0 0;

		span {
			display: flex;
			align-items: center;
			padding-right: 6px;		
		}
		img {
			position: relative;
			
		}
		a {

			padding: 18px 12px 15px 12px;
		}		
	}
	div.take-action a {
		background-color: yellow;
		&:hover {
			background-color: var(--dark-yellow);
			color: #000;
		}
	}
	div.shared-dropdown {
		text-transform: uppercase;
		cursor: s-resize;
	}
	div.shared-dropdown:hover .share-buttons {
		display: block;
	}
	div.share-buttons {
		background-color: #000;
		position: absolute;
		display: none;
		z-index: 1;

		a {
			border-top: 1px solid #e6e6e6;
			//background-color: #f2f2f2;
			color: #000;
			display: flex;
			align-items: center;
			span {
				padding: 0;
			}
			&:hover {
				img {
					filter: none;
				}
			}
		}

		img {
			margin-right: 10px;
			filter: invert(1);
		}
	}
}



