header {
	height: 48px;
	background-color: #FFF;
	color: #000;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	.logo {
		height: 100%;
		img {
			width: auto;
			height: 100%;
		}
	}
	position: fixed;
	top: 0;
	z-index: 2;
	left: 0;
	right: 0;
	a {

		
	}
}



.scroll-down-continue {
	display: flex;
	align-items: center;
	color: #fff;
	position: absolute;
	bottom: 40px;
	@include sans-ui;
	cursor: pointer;
	left: 0;
	right: 0;
	justify-content: center;
	img {
		width: 28px;
		height: auto;
		display: block;
		//animation: pulse-arrow 1.2s linear infinite;
	}
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
	.meaning {
		margin-left: 8px;
	}
}

nav {
	display: flex;	
	a {
		@include small-caps;
		text-decoration: none;
	}
	div:not(.language-nav) a {		
		background-color: #FFF;
		//transition: background-color 200ms linear;
		&:hover {
			color: #FFF;
			background-color: #000;
		}
	}
	a, span {
		display: block;
		height: 100%;
		padding: 16px 24px 15px 24px;
	}
	img {
		width: 16px;
		height: 16px;
		display: block;
	}
	> div {
		border-left: 1px solid #e6e6e6;
		position: relative;
		@include small-bold;
	}
	div.language-nav {
		background-color: #f2f2f2;
		display: flex;
		padding: 0 12px 0 0;

		span {
			display: flex;
			align-items: center;
			padding-right: 6px;		
		}
		img {
			position: relative;
			top: -3px;
		}
		a {

			padding: 18px 12px 15px 12px;
		}		
	}
	div.take-action a {
		background-color: yellow;
		&:hover {
			background-color: var(--dark-yellow);
			color: #000;
		}
	}
}

.nav-tooltip {
	display: none;
	position: absolute;
	background-color: var(--light-grey);
	padding: 18px 22px 19px 22px;
	width: 210px;
}

nav div:hover {
	.nav-tooltip {
		display: block;
	}
}

