.media.image {
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}

.media.full {
	position: relative;
	&.image {

		width: 100%;
		height: 500px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.gradient {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;		
		height: 40%;
		background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	}
}

img.alignleft {
	width: 400px;
	height: auto;
	float: left;
	margin-left: -200px;
	margin: 16px 32px 16px -200px;
}

.media.illustration {
	//margin-bottom: 36px;
	z-index: -1;
    position: relative;
    height: calc(70vh - 100px);
	.image {
		width: 100%;
		height: 70vh;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	+ .content-box {

		//position: relative;
		// z-index: 1;
		// padding-top: 360px;
	}
}


p.media-caption {
	color: var(--light-grey);
	font-style: italic;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
}


.play-icon {
    width: 53px;
    height: 53px;
    background: #FFFF00;
    border-radius: 50%;
    position: absolute;
    bottom: 68px;
    right: 68px;
}



// image placements

article.depth-0 {
	&[data-rootparent="1079"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: contain;
			}
		}
	}
}

article.depth-0 {
	&[data-rootparent="1065"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center bottom;
			}
		}
	}
}
article.depth-0 {
	&[data-rootparent="1117"]{
		.illustration .image {
			background: #FFF;
			img {
				object-fit: none;
				object-position: center top;
			}
		}
	}
}











