


#report-nav-scroller {
	--horizontal-nav-height: 125px;
	@include breakpoint(xsm){
		--horizontal-nav-height: 155px;
	}
	height: var(--horizontal-nav-height);
	margin-bottom: 2rem;
	ul {
		list-style-type: none;
	}
	position: sticky;
	top: var(--header-height);
	z-index: 1;
	.active-marker {
		
		
		background: yellow;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		margin-right: 2px;
		display: none;
		position: relative;
		top: 0px;
	}
	.swiper-slide {	
		background: #222;
		height: var(--horizontal-nav-height);
		flex: 0 0 221px;		
		@include breakpoint(xsm){
			flex: 0 0 278px;
		}
		&:nth-child(1){
			margin-left: 24px;
			@include breakpoint(xsm){
				margin-left: 30px;
			}
		}
		&:nth-last-child(1){
			border: none;
		}
		position: relative;
		border-right: 1px solid #444;
		@include small-caps;
		> a {
			text-decoration: none;
			display: block;
			padding: 12px 12px 12px 12px;
			@include breakpoint(xsm){
				padding: 14px var(--padding) var(--padding) var(--padding);	
			}
			
		}
		&.active {
			background: #484848;
			.active-marker {
				@include breakpoint(xsm){
					display: inline-block;	
				}
			}
		}
	}

	.scroller-inner {	
		// margin: 0 24px;	
		// @include breakpoint(xsm){
		// 	margin: 0 30px;
		// }
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}

	.image {
		border-radius: 5px;
		width: 100%;
		overflow: hidden;
		height: 77px;
		@include breakpoint(xsm){
			height: 100px;
		}
		display: block;
		margin-top: 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.horizontal-chapter-number {
	color: var(--light-grey);
	display: none;	
	@include breakpoint(xsm){
		display: inline;	
	}
}


#report-nav-scroller .gradient {
	position: absolute;
	right: 0;
	width: 24px;
	@include breakpoint(xsm){
		width: 30px;
	}
	top: 0;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(to right, transparent 0%, #222 60%);
	background: #222;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	border-left: 1px solid #4e4a4a;
	&:hover {
		background: #333;
	}
	.button {
		width: 24px;
		@include breakpoint(xsm){
			width: 27px;
		}
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10px;
	}
}

#report-nav-scroller .padder {
	flex: 0 0 24px;
	height: var(--horizontal-nav-height);
}

#report-nav-scroller .gradient.left {
	right: auto;
	left: 0;
	border-right: 1px solid #4e4a4a;
	border-left: none;
	align-items: flex-start;

}
////////////////////////
