// body.vertical-nav {
// 	.report-nav {
// 		.swiper-wrapper {
// 			display: block;
// 			.expand {
// 				display: none;
// 			}
// 		}
// 	}
// 	.report-nav ul {
// 		box-sizing: border-box;
// 	}
// 	.report-nav-intro {
		
		
// 	}
// 	.swiper-wrapper {
// 		width: 100% !important;
// 	}
// }

.call-out {
	display: none;

	width: 100vw;
	left: calc(calc(calc(100vw - 698px) / 2) * -1);
	position: relative;
	background-color: #FFF;
	color: #fff;
	margin: 64px 0;
	padding: 32px 0;
	.inner {
		display: flex;
		max-width: 900px;
		margin: 0 auto;
		//align-items: center;
	}
	.statement {
		flex-shrink: 1;
		margin: 0 auto;
		h2 {
			line-height: 1.25;
		}
	}
	.blur {
		margin-top: 15px;
		flex: 0 0 200px;
		margin-right: 40px;
		position: relative;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

#call-out .call-out {
	display: block;

}

.chapters {
	display: none;
	margin: 64px 0;
	.chapter {
		@include body-text;
		margin-bottom: 32px;
	}
	.highlight {
		background-color: #383838;
		padding: 2px 4px;
	}
	.chapter div:nth-child(1){
		margin-right: 20px;
		position: absolute;
		left: -30px;
	}
	.disc {
		text-align: center;
		width: 50px;
		height: 50px;
		background: #383838;
		border-radius: 50%;
			@include small-caps;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
		span {

			display: none;
		}
	}
}



.what-is-the-report {
	display: none;
	width: 1100px;	
	left: -200px;
	position: relative;
	text-align: center;
	margin: 60px 0;

	.stats {
		display: flex;
		justify-content: space-between;
	}
	h3 {
		display: block !important;
	}
	h2 {
		padding: 16px;
	}
	.stat {
		.icon {
			background-color: #FFF;			
			padding: 20px 0 0 0;
			&.people {
				img {
					width: 140px;
					
				}
			}
			img {
				width: 100px;
				height: 100px;
			}
		}
		flex: 0 1 calc(33.3% - 20px);
		p {
			margin: 16px;

		}
		h2 {
			margin-bottom: 0;
		}
	}
}

#what-is-the-report .what-is-the-report {
	display: block;

}

#chapters .chapters {
	display: block;

}


article.content-type-legal-text {
	display: none;
	margin-top: 32px;
	.content-box > *:not(h3):not(.legal-text-title) {
		display: none;
	}


	.content-box {

		padding-top: 20px;
		//border: 1px solid var(--light-grey); 	
		//padding: 24px 0 0 0;
		//border-left: 8px solid rgba(255,255,255,0.1);
		font-size: 12px;
		color: var(--light-grey);
		background: #1a1a1a;
		position: relative;
		&::after, &::before {
			content: '';
			position: absolute;
			left: -8px;
			top: 0;
			bottom: 0;
			width: 8px;
			background: #1a1a1a;
		}
		&::after {
			left: auto;
			right: -8px;
		}
	}
	.legal-text-title {
		flex-flow: row nowrap;
		align-items: baseline;
	}
	h4 {
		text-transform: uppercase;
		flex: 0 1 170px;
	}
	p {
		margin-bottom: 20px;
		flex-grow: 1;
	}
	i.fas {
		font-size: 24px;
	}

}
section#report {
	
	.wp-caption {

		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 1100px !important;
		position: relative;
		left: -205px;
		margin: 48px 0;
		align-items: start;
		img {
			width: 100%;
			height: auto;
		}
		p {
			background: #FFF;
			@include quote;
			padding: 32px;
			margin-bottom: 0;
			position: relative;
			top: 80px;
			left: -40px;

		}
	}
	a + sup {
		padding: 0px 4px 0px 4px;
		text-align: center;
		display: inline-block;
		background: #353535;
		color: #d0d0d0;
		> a {
			text-decoration: none;
		}
		&.show {
			> span {
				display: block;
			}
		}
		position: static;
		> span {
			text-align: left;
			display: none;
			position: absolute;
			right: -340px;
			width: 260px;
			padding-right: 20px;
			margin-top: -20px;
			font-size: 14px;

			color: var(--light-grey);
			word-break: break-word;
			span {
				padding: 2px 5px;
				background: #353535;
				//display: inline-block;
				font-size: 12.6px;
				color: #d0d0d0;
			}
			//display: none;
		}
	}
	
	h3, .legal-text-title {
		display: flex;
		justify-content: space-between;
		.expand {
			flex: 0 0 30px;
			text-align: right;
			cursor: pointer;
			&:hover {
				color: var(--light-grey);
			}
		}
		.fa-caret-up {
			display: none;
		}
		i.fa-balance-scale {
			margin-right: 3px;
		}
	}
	article.report {

		a.anchor {
			display: block;
			position: relative;
			top: -195px;
			visibility: hidden;			
		}
		//border-bottom: 1px solid red;

		.continue {
			display: none;
			text-align: center;
			color: var(--light-grey);
		}
		&.concatenate {
			.content-box {
				*:not(div.continue):nth-child(n+5){
					display: none;
				}
			}
			.continue {
				display: block;
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4){
					display: none;
				}
			}			
		}
	}
	article.report.depth-0.content-type-introduction {
		//margin-bottom: 5rem;
	}
	article.report.depth-0.content-type-conclusion {
		margin-top: 8 * 8px;
	}
	article.content-type-introduction.depth-0 {
		// margin-bottom: 4rem;
	 //    overflow: hidden;
		.content-box {
			//padding-top: 440px;
		}

	}


	article.content-type-section,
	article.content-type-introduction.depth-1,
	article.content-type-introduction.depth-2 {
		.content-box > *:not(h3){
			display: none;
		}

		.content-box p:nth-of-type(1) {
//			display: none;
//			overflow: hidden;
//			text-overflow: ellipsis;
			// display: -webkit-box;
			// -webkit-line-clamp: 3;
			// -webkit-box-orient: vertical;
		}
		.content-box {
			padding-top: 32px;
			border-bottom: 1px solid #FFF;
		}
	}
	

	article.expanded {	
		.expand {
			.fa-caret-up {
				display: block;
			}
			.fa-caret-down {
				display: none;
			}
		}	
		.content-box {
			border-bottom: 1px solid transparent;	
		}
		.content-box p,
		.content-box ul,
		.content-box blockquote,
		.content-box ol {
			display: block !important;
		}
		.content-box div.wp-caption {
			display: grid;
		}
		.content-box p:nth-of-type(1){
			display: block !important;
		}
		& ~ article.depth-3 {
			display: block;
		}
	}
	article.content-type-big-text {
		display: none;
	}
	

	article.content-type-chapter {
		padding-top: 8px * 10;
		margin-top: 8px * 10;
	}

	article.depth-3 {
		display: none;
		h3 {
			.expand {
				display: none;
			}
		}
		.content-box {
			padding-top: 0;
			border-bottom: none;	
		}
	}
	article.content-type-conclusion {	
		h3 .expand {
			display: none;
		}	
	}

	article.image {
		height: 800px;
		display: none;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}