section {
	margin: 0 0 24px * 4 0;
	position: relative;
	article {
		position: relative;
	}
}



.bw-inlay {

	z-index: -1;
	height: 400px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.section-title {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	h1 {
		margin-bottom: 16px;
	}
}
.section-title.centered {
	align-items: center;
	text-align: center;
	h1 {
		min-width: 180px;
	}
}

#mapbox-map {
	height: 600px;
	.mapboxgl-canvas-container:focus,
	canvas:focus {
		outline: none;
	}
}



section#report-downloads {
	font-size: 16px;
	.reports {
		column-count: 4;
		column-gap: 32px;
	}
	.section-inner {
		
		padding: 0 16px;
		.reports > div {
			margin-bottom: 32px;
			break-inside: avoid;
		}	
		div.download {
			font-size: 15px;
			margin-bottom: 5px;
			i {
				margin-right: 5px;
				font-size: 18px;
			}
		}
		div.title {
			margin-bottom: 16px;
		}		
	}
}

@for $i from 0 through 30 {
	.slideshow[data-idx="#{$i}"] {
		.slide:nth-child(#{$i+1}) {
			display: block;
		}
		
	}
}

.slide {
	display: none;
}

section#cases {


	.modal {
		display: none;
	}
	.section-inner-full {
		position: relative;
		//padding-left: 40px;
	}
	.controls {
		position: absolute;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		div {
			background-color: red;
			padding: 10px;
		}
	}
	.preview {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		.slideshow {
			position: relative;
			height: 200px;
			min-height: 0;
			.slide {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
	h5 {
		margin-bottom: 0;
	}
	.cases {
		padding-left: 200px;
		overflow: auto;
		// display: flex;
		// flex-flow: row nowrap;
		// justify-content: space-between;
		white-space: nowrap;
		&.scrolled {
			~ .gradient.left {
				display: flex;
				justify-content: flex-start;
				background: linear-gradient(to left, transparent, #000);
			}
		}
	}
	.gradient.left {
		display: none;
		left: 0;
		right: auto;
	}
	.gradient {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 200px;
		background: linear-gradient(to right, transparent, #000);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		pointer-events: none;
		.button {

			text-align: center;

			img {

			}
			width: 56px;
			height: 56px;
			background-color: yellow;
			
		}
	}
	article {
		position: relative;
		display: inline-block;
		margin-right: 16px;
		h3 {
			margin-bottom: 1rem;
		}
		@include body-text;
		line-height: 1.2;
		font-size: 14px;
		margin-bottom: 20px;
		width: 300px;
		background-color: #FFF;
		color: #000;

		.case div {
			white-space: normal;
			align-items: baseline;
			margin-bottom: 0.6rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.case .full {
			display: block;
			margin-bottom: 0.8rem;
			h5 {
				margin-bottom: 0.2rem;
			}
		}
		.image {
			background-color: #999;
			min-height: 260px;
		}
		.case {
			padding: 16px 16px 8px 16px;
		}
	}
}