section {
	margin: 0 0 24px * 5 0;
	position: relative;

	article {
		position: relative;
	}
}



.bw-inlay {

	z-index: -1;
	height: 400px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.section-title {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	h1 {
		margin-bottom: 16px;
	}
}

.section-title.centered {
	align-items: center;
	text-align: center;
	h1 {
		min-width: 180px;
	}
}

#mapbox-map {
	height: 600px;
	.mapboxgl-canvas-container:focus,
	canvas:focus {
		outline: none;
	}
}





@for $i from 0 through 30 {
	.slideshow[data-idx="#{$i}"] {
		.slide:nth-child(#{$i+1}) {
			display: block;
		}
		
	}
}

.slide {
	display: none;
}

