@import "reset-css";

$breakpoints: (
	'xsm': 767px,
	'sm': 1024px,
	'md': 1280px,
	'md-lg': 1360px,
	'lg': 1850px
) !default;

@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}

html {
	box-sizing: border-box;
	font-size: 16px;
	--padding: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}


@import "fonts";
@import "typography";
@import "footnotes";
@import "header";
@import "footer";
@import "ui";
@import "base";
@import "media";
@import "hero";
@import "sections";
@import "report";
@import "chinese-adjustments";

a {
	color: currentColor;
}
a[name]{
	display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
body {
	color: #fff;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
body.uyghur {
	direction: rtl;
} 

ul {
	list-style: disc;
	padding-left: 20px;
}

















.swiper-container {
	width: 100%;
	height: 600px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}